@import "https://cdn.www.gov.co/v3/styles.ac42acc4a5fc7b13f1ab.css";
/*SSF BASE*/


/*GovCo Ajustes*/
body {
    font-family: Montserrat, sans-serif;
}
.btn-middle {
    border-color: #36c !important;
}
header {
    margin-top: 50px;
}

.govco_bottom {
    width: 100%;
    background-color: #36c;
    padding: 1em 0;
}

footer {
    padding: 0 0;
    margin-top: 4rem;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(15%, #fff), color-stop(15%, #0093e7), color-stop(85%, #0093e7), color-stop(85%, #0093e7));
    background-image: linear-gradient(to bottom, #fff, #fff 15%, #0093e7 15%, #0093e7 85%, #0093e7 85%);
}
.form-control{
    border-radius: 0.5rem;
}
.alert-general {
    background-color: #00256e;
    font-size: 1rem;
    height: auto;
}

.alert-general svg {
    width: 25px;
    height: auto;
}

.footer-politicas {
    width: 100% !important;
}

.navbar-gov-co-sedes {
    border-bottom: 4px solid #11a2dc;
}

.gov-co-footer .gov-co-footer-presetacion {
    background-image: none;
}

.gov-co-footer .gov-co-footer-presetacion > .gov-co-footer-autoridad {
    border: solid 2px #e8f0fb;
    border-radius: 20px;
    box-shadow: none;
}

.goc-co-link-poli {

    color: #004884;
}

.navbar {
    display: block;
    padding-top: 0;
}

ul.sf-menu a, ul.sf-menu span.nolink {
    padding: 1.3em 1.5em 1.2em 1.5em !important;
    font-weight: 500 !important;
    text-decoration: none !important;
    color: #4b4b4b !important;
    height: 63px;
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

#main-menu-link-content2eb532d6-9313-49a2-89e7-c7c129754ada {
    width: 280px;
}

#main-menu-link-contentc1327985-fd01-4e42-bda3-0e5a42749891 {
    width: 255px;
}

.navbar-brand img {
    height: 30px;
}

.navbar-gov-co-search {
    padding: 65px 0 30px 0;
}

.gov-co-link-presentacion {
    color: #004884 !important;
    text-decoration: none !important;
}

.gov-co-link-presentacion svg {
    width: 22px;
    height: auto;
    margin-right: 5px;
}
.fixed-top {
    z-index: 99;
}
a.gtflag {
    background-image: url('/ssf-sede-electronica/web/themes/custom/ssftheme/images/24a.png') !important;
}

a.gtflag:hover {
    background-image: url('/ssf-sede-electronica/web/themes/custom/ssftheme/images/24a.png') !important;
}
.content-search #edit-submit {
    background: #ffffff00;
    width: 62px;
    border: none;
    position: relative;
    left: -50px;
}
.content-search #edit-keys {
    width: 260px;
}
.page-title {
    text-align: left !important;
    font-size: 1.8em;
    font-weight: 600;
    line-height: normal !important;
    margin-bottom: 1em;
}
.region-sidebar-first {
    padding: 0;
}
.button {
    position: relative !important;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    padding: 0.4rem 1rem;
    line-height: 1.5;
    border-radius: 1.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    min-width: 120px;
    white-space: pre-line;
    text-transform: uppercase;
    font-family: Work Sans, sans-serif;
    font-size: .9rem;
    font-weight: 500;
}
.btn-primary {
    background-color: #36c;
    border-color: #36c;
    color: #fff;
}
#edit-reset {
    background-color: #fff !important;
    border-color: #36c !important;
    color: #36c !important;
}
#edit-reset:hover, #edit-reset--2:hover {
    background-color: #004884 !important;
    color: white !important;
}

#edit-reset--2 {
    background-color: #fff !important;
    border-color: #36c !important;
    color: #36c !important;
    min-width: 95px;
    padding: 5px;
    margin-left: 10px;
}
.btn-primary:hover {
    background-color: #004884;
    border-color: #004884;
    color: #fff;
}
/*GovCo Ajustes*/
.navbar-nav .nav-link {
    text-transform: none;
    font-size: 0.9rem;
    margin-left: 10px;
    padding: 10px 0px;
}
.cpae-menu-lateral {
    margin-bottom: 3rem;
    margin-right: 0;
    padding-right: 0;
}

.cpae-menu-lateral .block-menu {
    background: #f6f8f9;
    border-radius: 3px;
    border: solid 1px #ecf3fd;
}

.cpae-menu-lateral .block-menu .nav-item {
    padding-left: 2em;
    border-bottom: 1px solid #ecf3fd;
}

.cpae-menu-lateral .block-menu .nav-item:hover {
    background: #eaf1f5 !important;
}

.cpae-menu-lateral .block-menu .nav-item:before {
    height: 0;
    content: '>';
    color: #004884;
    position: relative;
    left: -17px;
    float: left;
    top: 5px;
    margin-left: 0;
    font-weight: bold;
    font-size: 20px;
    font-family: monospace;
}

.cpae-menu-lateral .block-menu .active {
    background: #004884 !important;
}

.cpae-menu-lateral .block-menu .active:hover {
    background: #004884 !important;
}

.cpae-menu-lateral .block-menu .active:before {
    color: #fff !important;
}

.cpae-menu-lateral .block-menu .active a {
    color: #fff !important;
}

.breadcrumb {
    padding: 10px !important;
}

.breadcrumb {
    padding: 10px !important;
    background-color: #ffffff;
    margin-top: 15px;
}

.breadcrumb a {
    color: #004884;
    text-decoration: none;

}

.breadcrumb a:hover {
    color: #0c99d3;

}

.breadcrumb-item + .breadcrumb-item::before {
    float: left;
    padding-right: 0.5rem;
    color: #294e84;
    content: '>';
    font-weight: bold;
    font-size: 17px;
    font-family: monospace;
}

.cpae-govco {
    float: left;
    position: relative;
    margin: 4px 15px;
}

.cpae-govco a {
    color: #fff;
    text-decoration: underline;
}

.cpae-gt {
    float: left;
    position: relative;
    top: 4px;
    left: 10px;
}
