@media (min-width: 1400px) {
    .gov-co-footer .gov-co-footer-presetacion > .gov-co-footer-autoridad, .gov-co-footer-lg .gov-co-footer-presetacion > .gov-co-footer-autoridad, .gov-co-footer-sm .gov-co-footer-presetacion > .gov-co-footer-autoridad, .gov-co-footer-xl .gov-co-footer-presetacion > .gov-co-footer-autoridad, .gov-co-footer-xs .gov-co-footer-presetacion > .gov-co-footer-autoridad {
        max-width: 1320px;
    }
}
@media only screen and (max-width: 720px) {
    .content-search #edit-keys {
        width: 325px;
    }
    #search-block-form #edit-actions {
        position: relative;
        left: -63px;
    }
    .content-search #edit-submit {
        left: 10px;
    }
    .goc-co-link-poli {
        width: 100%;
    }
    .gov-co-link-presentacion {
        display: contents;
    }
    .form--inline .form-actions {
        display: contents;
    }
    .contratacion-item2 p {
        line-height: 1.25rem;
    }
    .gov-co-link-presentacion svg {
        float: left !important;
    }
    .gov-co-link-presentacion {
        width: 140px !important;
        display: flow-root !important;
    }
    .gov-co-redes-sociales {
        display: grid !important;
    }
    .region-sidebar-first .views-exposed-form, .ssf-menu-lateral .block-menu {
        margin-right: 15px;
    }
    .region-sidebar-first .views-exposed-form select {
        min-width: 288px;
    }
    #block-ssftheme-content .mx-3{
      margin: 0 0 !important;
    }
}
