{% include directory ~ '/templates/includes/header.twig.yml' %}
{% if page.title %}
    {% block title %}
        <div class="container-fluid titulo--banner">
            <div class="container contenedor-titulo">
                {{ page.title }}
            </div>
        </div>
    {% endblock %}
{% endif %}
{% if page.breadcrumb %}
    {% block breadcrumb %}
        <div class="container-fluid ssf-bread">
            <div class="container ssf-bread">
                {{ page.breadcrumb }}
            </div>
        </div>
    {% endblock %}
{% endif %}
<div class="container-fluid">
    {# Main #}
    {% block main %}
        <div role="main" class="main-container {{ container }} js-quickedit-main-content">
            <div class="row">
                {# Content #}
                {% set content_classes = [
                    page.sidebar_first and page.sidebar_second ? 'col-sm-6',
                    page.sidebar_first and page.sidebar_second is empty ? 'col-sm-9',
                    page.sidebar_second and page.sidebar_first is empty ? 'col-sm-9',
                    page.sidebar_first is empty and page.sidebar_second is empty ? 'col-sm-12'
                ] %}
				  {# Sidebar first #}
                {% if page.sidebar_first %}
                    {% block sidebar_first %}
                        <aside class="col-sm-3 ssf-menu-lateral" role="complementary">
                            {{ page.sidebar_first }}
                        </aside>
                    {% endblock %}
                {% endif %}
                <section{{ content_attributes.addClass(content_classes) }}>

                    {# Highlighted #}
                    {% if page.highlighted %}
                        {% block highlighted %}
                            <div class="highlighted">{{ page.highlighted }}</div>
                        {% endblock %}
                    {% endif %}

                    {# Help #}
                    {% if page.help %}
                        {% block help %}
                            {{ page.help }}
                        {% endblock %}
                    {% endif %}

                    {# Content #}
                    {% block content %}
                        <a id="main-content"></a>
                        {{ page.content }}
                    {% endblock %}
                </section>

                {# Sidebar Second #}
                {% if page.sidebar_second %}
                    {% block sidebar_second %}
                        <aside class="col-sm-3" role="complementary">
                            {{ page.sidebar_second }}
                        </aside>
                    {% endblock %}
                {% endif %}
            </div>
        </div>
    {% endblock %}
</div>

<div>
    <div class="container">
        {{ page.content_bottom1 }}
    </div>

</div>

<div class="content_bottom {% if front_page %} highlighted--home front-page {% endif %}">
    <div class="container">
        {{ page.content_bottom }}
    </div>
</div>


{% if page.footer %}
    {% block footer %}
            <footer class="gov-co-footer">
                {{ page.footer }}
                <div class="govco_bottom">
                <div class="container">
                    {{ page.govco_bottom }}
                </div>
                </div>
            </footer>
    {% endblock %}
{% endif %}

{% if page.copy %}
    {% block copy %}
        <div class="copy">
            <div class="container" role="contentinfo">
                {{ page.copy }}
            </div>
        </div>
    {% endblock %}
{% endif %}
