@import "https://cdn.www.gov.co/v3/styles.ac42acc4a5fc7b13f1ab.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
/*CPAE BASE*/


/*GovCo Ajustes*/

body {
    font-family: 'Work Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}

.btn-middle {
    border-color: #36c !important;
}

header {
    margin-top: 50px;
}

.govco_bottom {
    width: 100%;
    background-color: #36c;
    padding: 1em 0;
}

footer {
    padding: 0 0;
    margin-top: 4rem;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(15%, #fff), color-stop(15%, #0093e7), color-stop(85%, #0093e7), color-stop(85%, #0093e7));
    background-image: linear-gradient(to bottom, #fff, #fff 15%, #39207C 15%, #39207C 85%, #39207C 85%);
}

.form-control {
    border-radius: 0.5rem;
}

.alert-general {
    background-color: #00256e;
    font-size: 1rem;
    height: auto;
}

.alert-general svg {
    width: 25px;
    height: auto;
}

.footer-politicas {
    width: 100% !important;
}

.navbar-gov-co-sedes {
    border-bottom: 4px solid #685BC7;
}

.gov-co-footer .gov-co-footer-presetacion {
    background-image: none;
}

.gov-co-footer .gov-co-footer-presetacion>.gov-co-footer-autoridad {
    border: solid 2px #e8f0fb;
    border-radius: 20px;
    box-shadow: none;
}

.goc-co-link-poli {
    color: #004884;
}

.navbar {
    display: block;
    padding-top: 0;
}

ul.sf-menu a,
ul.sf-menu span.nolink {
    padding: 1.3em 0em 1.2em 1em !important;
    font-weight: 500 !important;
    text-decoration: none !important;
    color: #4b4b4b !important;
    height: 63px;
    display: flex;
    align-items: center;
    margin-right: 1rem;
    font-weight: 400!important;
}

#main-menu-link-content2eb532d6-9313-49a2-89e7-c7c129754ada {
    width: 200px;
}

#main-menu-link-contentc1327985-fd01-4e42-bda3-0e5a42749891 {
    width: 200px;
}

.navbar-brand img {
    height: 30px;
}

.navbar-gov-co-search {
    padding: 65px 0 30px 0;
}

.gov-co-link-presentacion {
    color: #004884 !important;
    text-decoration: none !important;
}

.gov-co-link-presentacion svg {
    width: 22px;
    height: auto;
    margin-right: 5px;
}

.fixed-top {
    z-index: 99;
}

a.gtflag {
    background-image: url('drupal/themes/custom/ssftheme/images/24a.png') !important;
}

a.gtflag:hover {
    background-image: url('drupal/themes/custom/ssftheme/images/24a.png') !important;
}

.content-search #edit-submit {
    background: #ffffff00;
    width: 62px;
    border: none;
    position: relative;
    left: -50px;
}

.content-search #edit-keys {
    width: 260px;
}

.page-title {
    text-align: left !important;
    font-size: 1.8em;
    font-weight: 600;
    line-height: normal !important;
    margin-bottom: 1em;
}

.region-sidebar-first {
    padding: 0;
}

.button {
    position: relative !important;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    padding: 0.4rem 1rem;
    line-height: 1.5;
    border-radius: 1.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    min-width: 120px;
    white-space: pre-line;
    text-transform: uppercase;
    font-family: Work Sans, sans-serif;
    font-size: .9rem;
    font-weight: 500;
}

.btn-primary {
    background-color: #36c;
    border-color: #36c;
    color: #fff;
}

#edit-reset {
    background-color: #fff !important;
    border-color: #36c !important;
    color: #36c !important;
}

#edit-reset:hover,
#edit-reset--2:hover {
    background-color: #004884 !important;
    color: white !important;
}

#edit-reset--2 {
    background-color: #fff !important;
    border-color: #36c !important;
    color: #36c !important;
    min-width: 95px;
    padding: 5px;
    margin-left: 10px;
}

.btn-primary:hover {
    background-color: #004884;
    border-color: #004884;
    color: #fff;
}


/*GovCo Ajustes*/

.navbar-nav .nav-link {
    text-transform: none;
    font-size: 0.9rem;
    margin-left: 10px;
    padding: 10px 0px;
}

.ssf-menu-lateral {
    margin-bottom: 3rem;
    margin-right: 0;
    padding-right: 0;
}

.ssf-menu-lateral .block-menu {
    background: #f6f8f9;
    border-radius: 3px;
    border: solid 1px #ecf3fd;
}

.ssf-menu-lateral .block-menu .nav-item {
    padding-left: 2em;
    border-bottom: 1px solid #ecf3fd;
}

.ssf-menu-lateral .block-menu .nav-item:hover {
    background: #eaf1f5 !important;
}

.ssf-menu-lateral .block-menu .nav-item:before {
    height: 0;
    content: '';
    color: #004884;
    position: relative;
    left: -17px;
    float: left;
    top: 5px;
    margin-left: 0;
    font-weight: bold;
    font-size: 1.25rem;
    font-family: monospace;
}

.ssf-menu-lateral .block-menu .active {
    background: #004884 !important;
}

.ssf-menu-lateral .block-menu .active:hover {
    background: #004884 !important;
}

.ssf-menu-lateral .block-menu .active:before {
    color: #fff !important;
}

.ssf-menu-lateral .block-menu .active a {
    color: #fff !important;
}

.breadcrumb {
    padding: 10px !important;
}

.breadcrumb {
    padding: 10px !important;
    background-color: #ffffff;
    margin-top: 15px;
}

.breadcrumb a {
    color: #004884;
    text-decoration: none;
}

.breadcrumb a:hover {
    color: #0c99d3;
}

.breadcrumb-item+.breadcrumb-item::before {
    float: left;
    padding-right: 0.5rem;
    color: #294e84;
    content: '>';
    font-weight: bold;
    font-size: 1.063rem;
    font-family: monospace;
}

.ssf-govco {
    float: left;
    position: relative;
    margin: 4px 15px;
}

.ssf-govco a {
    color: #fff;
    text-decoration: underline;
}

.ssf-gt {
    float: left;
    position: relative;
    top: 4px;
    left: 10px;
}

.card {
    border: 0px !important;
    background-color: #f6f8f9 !important;
}

.color-azul {
    color: rgb(99, 143, 179);
}

.fuente-bold {
    font-weight: bold;
}
/* - - - Destacados Home - - - */
nav#block-destacadoshome {
    max-width: 1140px;
    margin: 0 auto;
}
nav#block-destacadoshome ul.nav.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
nav#block-destacadoshome ul.nav.navbar-nav li.nav-item {
    min-width: calc(25% - 2rem);
    width: calc(25% - 2rem);
    text-align: center;
    background: #f6f8f9;
    margin: 1rem;
    border-radius: 0.313rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
nav#block-destacadoshome ul.nav.navbar-nav li.nav-item a.nav-link {
    font-size: 1rem;
    font-weight: 500;
    color: #000 !important;
}
nav#block-destacadoshome ul.nav.navbar-nav li.nav-item:hover {
    background-color: #8668f2 !important;
}
nav#block-destacadoshome ul.nav.navbar-nav li.nav-item:hover a.nav-link{
    color: #ffffff !important;
    text-decoration: underline;
}
nav#block-destacadoshome ul.nav.navbar-nav li.nav-item a.nav-link::before {
    content: ' ';
    display: block;
    margin: 0 auto 1rem;
    width: 5rem;
    height: 5rem;
    background-position: center;
    background-size: cover;
}
nav#block-destacadoshome ul.nav.navbar-nav li.nav-item:nth-of-type(1) a.nav-link::before {
    background-image: url('../images/destacado1.png');
}
nav#block-destacadoshome ul.nav.navbar-nav li.nav-item:nth-of-type(2) a.nav-link::before {
    background-image: url('../images/destacado2.png');
}
nav#block-destacadoshome ul.nav.navbar-nav li.nav-item:nth-of-type(3) a.nav-link::before {
    background-image: url('../images/destacado3.png');
}
nav#block-destacadoshome ul.nav.navbar-nav li.nav-item:nth-of-type(4) a.nav-link::before {
    background-image: url('../images/destacado4.png');
}
.categoria-home {
    background-color: #ece9f2;
    font-size: 0.75rem;
    border-radius: 5px;
    width: fit-content;
}

.noticias-link-home {
    color: #3366CC;
    font-family: Montserrat;
    font-size: 1.125rem;
}

.fecha-noticias-home {
    font-size: 0.875rem;
}

.boton-mas-noticias {
    background-color: #3366CC;
    padding: 10px;
    color: #ffffff!important;
    text-decoration: none;
    border-radius: 15px;
}

/* Bloque Articulos Home*/
#block-bannerhome {
    margin: 0 -1rem 2rem;
    padding-bottom: 2rem;
}

.articulos-home {
    margin-bottom: 3rem;
    overflow: auto;
}
.articulos-home .view-content {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    align-content: stretch;
    flex-wrap: wrap;
}
.articulos-home .view-content h3 {
    display: none;
}
.articulos-home .view-content .views-view-grid {
    flex-grow: 4;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    /*max-width: 50%;*/
}
.articulos-home .view-content .views-view-grid .fila .columna {
    display: flex;
    flex-direction: column;
}
.articulos-home .view-content .views-view-grid:nth-of-type(1) .fila .columna{
    flex-direction: column-reverse;
    padding-right: 2rem;
}
.articulos-home .view-content .views-view-grid:nth-of-type(1) .info a {
    color: #3366CC;
    font-family: Montserrat;
    font-size: 1.125rem;
}
.articulos-home .view-content .views-view-grid:nth-of-type(1) .info p {
    font-size: 1rem;
    font-family: Work Sans, sans-serif;
    margin: 0;
}
.articulos-home .view-content .views-view-grid:nth-of-type(1) .media--view-mode-default iframe {
    width: 100% !important;
    height: 100%;
    border-radius: 0.5rem;
}
.articulos-home .view-content .views-view-grid:nth-of-type(1) .field--name-field-media-oembed-video {
    width: 100%;
    height: 14.2rem;
    margin-bottom: 1rem;
}
.articulos-home .view-content .views-view-grid:nth-of-type(2) .fila .columna{
    flex-direction: row;
    justify-content: space-between;
}
.articulos-home .view-content .views-view-grid:nth-of-type(2) .views-field-field-multimedia {
    max-width: 20%;
    display: block;
    overflow: hidden;
    align-self: stretch;
}
.articulos-home .view-content .views-view-grid:nth-of-type(2) .views-field-nothing {
    max-width: 80%;
    display: block;
}
.articulos-home .view-content .views-view-grid:nth-of-type(2) .info a {
    color: #3366CC;
    font-family: Montserrat;
    font-size: 1.125rem;
}
.articulos-home .view-content .views-view-grid:nth-of-type(2) .info p {
    font-size: 1rem;
    font-family: Work Sans, sans-serif;
    margin: 0;
}
.articulos-home .view-content .views-view-grid:nth-of-type(2) .fila {
    border-bottom: 1px solid rgb(186 186 186 / 40%);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
.articulos-home .view-content .views-view-grid:nth-of-type(2) .fila:nth-of-type(3) {
    border-bottom: 0;
}
.articulos-home .view-content .views-view-grid:nth-of-type(2) .views-field-field-multimedia .field-content{
    height: 100%;
}
.articulos-home .view-content .views-view-grid:nth-of-type(2) .views-field-field-multimedia .media.media--type-image {
    height: 100%;
}
.articulos-home .view-content .views-view-grid:nth-of-type(2) .views-field-field-multimedia .field--type-image {
    height: 100%;
}
.articulos-home .view-content .views-view-grid:nth-of-type(2) .views-field-field-multimedia .field__item {
    height: 100%;
}
.articulos-home .view-content .views-view-grid:nth-of-type(2) .views-field-field-multimedia img {
    width: auto !important;
    object-fit: cover;
    border-radius: 0.5rem;
    height: 100%;
}
.articulos-home .more-link {
    text-align: center;
    margin-bottom: 1rem;
}
.articulos-home .more-link a {
    background: #3366CC;
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    color: #ffffff;
    font-family: Work Sans, sans-serif;
    transition: 0.5s;
}
.articulos-home .more-link a:hover {
    background: #004884;
    transition: 0.5s;
}

/* Bloque Proyectos Home*/

.proyectos-home {
    background: #F6F8F9;
    padding-top: 1.5rem;
    padding-bottom: 4rem;
    margin: 0rem -1rem 0;
}
.proyectos-home .view-proyectos .views-view-grid {
    margin-top: -1rem;
}
.proyectos-home .view-proyectos .views-view-grid .tarjeta {
    box-shadow: 0 0 2px 0px rgb(0 0 0 / 20%);
    margin: 1rem 0;
    border-radius: 0.5rem;
    overflow: hidden;
    background: #ffffff;
}
.proyectos-home .view-proyectos figure.image {
    width: 9rem;
    height: 9rem;
    object-fit: cover;
    margin: 0 1rem 0 0;
}
.proyectos-home .view-proyectos figure.image img {
    height: 100%;
    width: auto;
    object-fit: cover;
}
.proyectos-home .view-proyectos .info{
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    padding-right: 1rem;
    width: calc(90% - 9rem);
}
.proyectos-home .view-proyectos .info h3 a {
    color: #3366CC;
    font-family: Montserrat;
    text-decoration: underline;
}
.proyectos-home .view-proyectos .info p {
    font-size: 1rem;
    font-family: Work Sans, sans-serif;
    margin: 0;
}

/* Bloque noticias */
#block-views-block-noticias-block-1 {
    margin: 2rem 0;
}
#block-views-block-noticias-block-1 .view-content {
    margin-bottom: 1rem;
}
.view-noticias.views-block .views-view-grid .views-field.views-field-nothing {
    height: 100%;
    align-self: stretch;
    display: flex;
}
.view-noticias.views-block .views-view-grid .views-field.views-field-nothing .field-content {
    height: 100%;
    align-self: stretch;
    display: flex;
}
.view-noticias.views-block .views-view-grid .tarjeta {
    box-shadow: 0 0 2px 0px rgb(0 0 0 / 20%);
    border-radius: 0.5rem;
    overflow: hidden;
    background: #ffffff;
    padding-bottom: 3rem;
    margin-bottom: 1rem;
    align-self: stretch;
}
.view-noticias.views-block .views-view-grid figure {
    height: 11rem;
    object-fit: contain;
    margin: 0 0 1rem 0;
    overflow: hidden;
}
.view-noticias.views-block .views-view-grid figure img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.view-noticias.views-block .views-view-grid .tarjeta h3 {
    margin: 0 1rem 0.5rem;
    line-height: 1.5rem !important;
    font-size: 1.125rem;
}
.view-noticias.views-block .views-view-grid .tarjeta h3 a {
    color: #3366CC;
    font-family: Montserrat;
    text-decoration: underline;
}
.view-noticias.views-block .views-view-grid .tarjeta p.resumen {
    font-size: 1rem;
    font-family: Work Sans, sans-serif;
    margin: 0.5rem 1rem;
}
.view-noticias.views-block .views-view-grid span.fecha {
    font-size: 0.875rem;
    font-family: Work Sans, sans-serif;
    margin: 0 1rem;
}
.view-noticias.views-block .views-view-grid span.tag {
    background: rgb(57 32 124 / 30%);
    font-size: 12px;
    padding: 0.3rem 1rem 0.3rem 0.5rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    margin: 1rem;
    position: absolute;
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
    bottom: 1rem;
}
.view-noticias .views-view-grid span.tag:before {
    background: #fff;
    width: 10px;
    height: 10px;
    content: "";
    display: inline-block;
    border-radius: 20px;
    margin: -1px 5px -1px -2px;
}
.view-noticias.views-block .views-view-grid span.tag a {
    color: #000000;
    font-family: Work Sans, sans-serif;
    font-weight: 400;
}
.view-noticias.views-block .more-link {
    display: block;
    text-align: center;
    margin: 2rem 0;
}
.view-noticias.views-block .more-link a {
    background: #3366CC;
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    color: #ffffff;
    font-family: Work Sans, sans-serif;
    transition: 0.5s;
}


.tags .field__item {
    background: rgb(57 32 124 / 30%);
    font-size: 12px;
    padding: 0.3rem 1rem 0.3rem 0.5rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    margin: 0;
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
    display: inline-block;
}
.tags .field__item:before {
    background: #fff;
    width: 10px;
    height: 10px;
    content: "";
    display: inline-block;
    border-radius: 20px;
    margin: -1px 5px -1px -2px;
}
.tags .field__item a {
    color: #000000;
    font-family: Work Sans, sans-serif;
    font-weight: 400;
}
h2.titulo-cpae {
    color: #39207C;
    line-height: 2.5rem !important;
    margin-bottom: 1rem;
}
.articulo{
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    box-shadow: 0px 1px 0px rgb(3 207 227 / 50%);
}

/** Noticias **/
.noticia{
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    box-shadow: 0px 1px 0px rgb(3 207 227 / 50%);
}
.noticia .summary {
    background: rgb(3 207 227 / 10%);
    padding: 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    font-style: italic;
}
.noticia .media {
    float: right;
    width: 35vw;
    margin: 0 0 1rem 1rem;
}
.noticia .media .field__label {
    display: none;
}
.noticia .published {
    text-align: right;
    font-size: 0.875rem;
}

.noticias .view-header h2 {
    line-height: 2.5rem !important;
}
.noticias .view-filters {
    margin: 0rem 0 1rem;
}
.noticias .item-list {
    box-shadow: 1px 2px 3px rgb(196 196 196 / 50%);
    border-radius: 0.5rem;
    margin: 1.5rem 0;
    overflow: hidden;
}
.noticias .item-list h3 {
    font-size: 1.125rem;
    color: #3366cc;
    line-height: 1.5rem !important;
}
.noticias .item-list h3 a {
    color: #3366cc;
    text-decoration: underline;
    line-height: 1.5rem;
}
.noticias .item-list .fecha {
    font-size: 0.75rem;
}
.noticias .item-list  span.tag {
    background: rgb(57 32 124 / 30%);
    font-size: 12px;
    padding: 0.3rem 1rem 0.3rem 0.5rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    margin: 1rem 0;
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
}
.noticias .item-list  span.tag:before {
    background: #fff;
    width: 10px;
    height: 10px;
    content: "";
    display: inline-block;
    border-radius: 20px;
    margin: -1px 5px -1px -2px;
}
.noticias .item-list span.tag a {
    color: #000000;
    font-family: Work Sans, sans-serif;
}
.noticias figure.image {
    max-height: 11rem;
    overflow: hidden;
    object-fit: cover;
    margin: 0;
}
.noticias figure.image img {
    object-fit: cover;
    width: 100%;
}