:root {
    --font-size: 1;
}

body {
    font-size: calc(var(--font-size) * 1em);
}

.ssf--fecha1 .field__item,
.ssf--fecha2 .field__item,
.ssf--clasificacion3 .field__item,
.ssf--text2 .field__item {
    font-family: Montserrat, sans-serif;
    font-size: 1em;
    font-weight: 600;
    color: #004884;
    line-height: 1.875em!important;
}

.ssf--adjuntos .field__item {
    width: 50%;
    float: left;
}

.link-url a,
.field--name-field-enlace a {
    color: #3366cc;
    font-weight: 600;
}

.ssf--enlaces a,
.ssf--enlacesrelacionados a {
    color: #3366cc;
    font-weight: 600;
    font-size: 0.85em;
}

.file--application-pdf {
    background-image: url(https://cdn4.iconfinder.com/data/icons/file-extensions-1/64/pdfs-512.png);
    background-size: 32px;
    height: 43px;
    background-position: -1px 0;
    padding: 3px 32px;
    word-break: break-all;
    width: 264px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.file--application-pdf a {
    color: #4b4b4b;
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
}

.file--application-pdf a:hover {
    color: #000;
}

.ssf--adjuntos {
    margin-top: 0.5rem;
}

.file--application-pdf a:visited {
    color: #673ab7;
}

.ssf--variosenlaces .link-title {
    font-family: Montserrat, sans-serif;
    font-size: 1em;
    font-weight: 600;
    color: #004884;
    line-height: 1.875em!important;
    width: 110px;
    float: left;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.ssf--enlaces .field__item {
    display: flex;
}

.ssf--enlaces .link-item {
    display: contents;
}

.field__label,
label {
    font-family: Montserrat, sans-serif;
    font-size: 1em;
    font-weight: 600;
    color: #004884;
    line-height: 1.875em!important;
    margin-bottom: 0.5rem;
}

.form--inline .form-actions {
    clear: none;
    display: flex;
    align-items: center;
    position: relative;
    top: 3.6rem;
}

.region-sidebar-first .form--inline .form-actions {
    display: initial;
    top: 0;
}


/*contratacion*/

.card-menu {
    background: #f6f8f9;
    border-radius: 5px;
    padding: 3em 0.8em;
    text-align: center;
    margin-bottom: 18px;
    height: 210px;
    border: solid 1px #f3f3f3;
}

.card-menu:hover {
    background: #ffffff;
}

.card-menu:hover svg {
    color: #004884;
}

.card-menu:visited {
    color: #564868;
}

.card-menu a {
    color: #4B4B4B;
    font-weight: 600;
    font-size: 1em;
    text-decoration: none;
}

.card-menu svg {
    color: #11a2dc;
    display: block;
    text-align: center;
    margin: auto;
    font-size: 5em;
    width: auto;
    height: 51px;
    margin-top: 10px;
}

.card-atencion-y-servicios svg {
    color: #39207C;
    display: block;
    text-align: center;
    margin: auto;
    font-size: 5em;
    width: auto;
    height: 51px;
    margin-top: 10px;
}

.card-transparencia svg {
    color: #39207C;
}

.color-gris {
    color: #4B4B4B!important;
}

.categoria-home {
    background-color: #ece9f2;
    font-size: 0.75em;
    border-radius: 5px;
    width: fit-content;
}

.noticias-link-home {
    font-size: 1.125em;
}

.fecha-noticias-home {
    font-size: 0.875em;
}

.color-blanco {
    color: #ffffff;
}

.color-morado {
    color: #39207C;
}

.fuente-bold {
    font-weight: bold;
}

.fondo-morado {
    background-color: #221551;
}

.fondo-gris {
    background-color: #F6F8F9;
}

.div-fecha {
    background-color: #05C3DD;
    width: fit-content;
    justify-self: center;
}

.fecha-evento {
    font-size: 1.5em;
    margin: 0;
    color: #221551;
    font-weight: bold;
}

.hora-evento {
    font-size: 1.25em;
    margin: 0;
    color: #221551;
    font-weight: 600;
}

.color-blanco {
    color: #ffffff;
}

.color-azul {
    color: #004884;
}

.color-morado {
    color: #39207C;
}

.fuente-bold {
    font-weight: bold;
}

.border-radius {
    border-radius: 10px;
}

.icono-clasificacion-servicios {}

span.texto-clasificacion-servicio {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.titulo-servicios {
    text-decoration: none;
    color: #3366CC;
    font-size: 1.125;
    font-weight: 600;
}

.texto-conferencias-momentum {
    color: #4B4B4B;
    font-weight: 600;
    text-decoration: none;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #E6EFFD!important;
}