@media (min-width: 1400px) {
    .gov-co-footer .gov-co-footer-presetacion > .gov-co-footer-autoridad, .gov-co-footer-lg .gov-co-footer-presetacion > .gov-co-footer-autoridad, .gov-co-footer-sm .gov-co-footer-presetacion > .gov-co-footer-autoridad, .gov-co-footer-xl .gov-co-footer-presetacion > .gov-co-footer-autoridad, .gov-co-footer-xs .gov-co-footer-presetacion > .gov-co-footer-autoridad {
        max-width: 1320px;
    }
}
@media only screen and (max-width: 720px) {
    .content-search #edit-keys {
        width: 325px;
    }
    #search-block-form #edit-actions {
        position: relative;
        left: -63px;
    }
    .content-search #edit-submit {
        left: 10px;
    }
    .goc-co-link-poli {
        width: 100%;
    }
    .gov-co-link-presentacion {
        display: contents;
    }
    .form--inline .form-actions {
        display: contents;
    }
    .contratacion-item2 p {
        line-height: 1.25rem;
    }
    .gov-co-link-presentacion svg {
        float: left !important;
    }
    .gov-co-link-presentacion {
        width: 140px !important;
        display: flow-root !important;
    }
    .gov-co-redes-sociales {
        display: grid !important;
    }
    .region-sidebar-first .views-exposed-form, .ssf-menu-lateral .block-menu {
        margin-right: 15px;
    }
    .region-sidebar-first .views-exposed-form select {
        min-width: 288px;
    }
    #block-ssftheme-content .mx-3{
      margin: 0 0 !important;
    }
}
@media (min-width: 576px){
    nav#block-destacadoshome {
        max-width: 540px;
    }
}
@media (min-width: 768px){
    nav#block-destacadoshome {
        max-width: 720px;
    }
}
@media (min-width: 992px){
    nav#block-destacadoshome {
        max-width: 960px;
    }
}
@media (min-width: 1200px){
    nav#block-destacadoshome {
        max-width: 1140px;
    }
}
@media (min-width: 1400px){
    nav#block-destacadoshome {
        max-width: 1320px;
    }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    nav#block-destacadoshome ul.nav.navbar-nav li.nav-item {
        min-width: calc(90% - 2rem);
        width: calc(90% - 2rem);
    }
    .articulos-home .view-content .views-view-grid{
        flex-basis: 100%;
        margin-bottom: 2rem;
    }
    .articulos-home .view-content .views-view-grid:nth-of-type(2){
        margin-bottom: 0;
    }
    div#block-aliados .text-center {
        margin-bottom: 1rem;
    }
    .footer-presentacion {
        width: 100% !important;
    }
    .footer-logo-autoridad div div div {
        text-align: center;
        margin: 0 auto;
    }
    .gov-co-redes-sociales {
        display: flex !important;
        flex-direction: column;
    }
    .gov-co-politicas {
        width: 100% !important;
        display: flex !important;
    }
    a.goc-co-link-poli {
        display: inline-block;
        width: auto !important;
        margin: 0.3rem;
    }
    a.gov-co-link-presentacion {
        margin: 0.5rem;
        display: inline-block;
    }
    footer.gov-co-footer {
        margin-top: 0;
    }
    .noticia .media {
        float: none;
        width: 100%;
        margin: 0 0 1rem 0;
    }
    .noticias figure.image {
        margin-top: 1rem;
    }
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    nav#block-destacadoshome ul.nav.navbar-nav li.nav-item {
        min-width: calc(50% - 2rem);
        width: calc(50% - 2rem);
    }
    .articulos-home .view-content .views-view-grid{
        flex-basis: 100%;
        margin-bottom: 2rem;
    }
    .articulos-home .view-content .views-view-grid:nth-of-type(2){
        margin-bottom: 0;
    }

    .footer-presentacion {
        width: 100% !important;
    }
    .footer-logo-autoridad div div div {
        text-align: center;
        margin: 0 auto;
    }
    .gov-co-redes-sociales {
        display: flex !important;
        flex-direction: column;
    }
    .gov-co-politicas {
        width: 100% !important;
        display: flex !important;
    }
    a.goc-co-link-poli {
        display: inline-block;
        width: auto !important;
        margin: 0.3rem;
    }
    a.gov-co-link-presentacion {
        margin: 0.5rem;
        display: inline-block;
    }
    footer.gov-co-footer {
        margin-top: 0;
    }
    .noticia .media {
        float: none;
        width: 100%;
        margin: 0 0 1rem 0;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {

}
