/* Estilos accordion vistas */

.accordion-toggle {
    cursor: pointer;
}

.view-grouping-content {
    display: none;
}

.view-grouping-content.default {
    display: block;
}

.ssf-acordion .view-grouping-header {
    cursor: pointer;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    padding: 12px 1rem;
    background: #004884 url('../../ssftheme/images/navegacion_abajo.svg') no-repeat scroll 99% 6px;
    border-radius: 6px 6px 0 0;
    border-bottom: solid 1px #e6effd;
    background-size: 2.5rem;
}

.ssf-acordion .is-active {
    background: #004884 url('../../ssftheme/images/navegacion_arriba.svg') no-repeat scroll 99% 6px !important;
    background-size: 2.5rem !important;
}

.ssf-head--acordion {
    background: #e6effd;
    margin: 0 !important;
    font-size: 0.9rem;
    font-family: "Work Sans", sans-serif;
}

.ssf-content--acordion {
    font-size: 0.9rem;
    font-family: "Work Sans", sans-serif;
}

.ssf-content--acordion {
    font-size: 0.9rem;
    padding: 0.75rem 15px;
    margin: 0;
}

.ssf-content--acordion a {
    color: #3377cc;
}

.ssf-acordion .view-grouping-content {
    border: solid 1px #efefef;
    border-radius: 0 0 15px 15px;
    margin-bottom: 2rem;
    box-shadow: 0 0 4px #ebebeb;
}

.ssf-acordion ul {
    list-style: none;
}

.ssf-acordion .item-list li {
    margin: 0;
    padding: 0;
}

.ssf-acordion .view-grouping {
    margin-bottom: 0.2rem;
}

.ssf-content--acordion .col-md-3,
.ssf-content--acordion .col-md-7 {
    border-right: solid 1px #dbdbdb;
}

.ssf-head--acordion .col-md-2 {
    line-height: 15px;
    margin-top: 10px;
    padding: 0;
}

.ssf-lista .view-header {
    margin-bottom: 2rem;
}


/* Contratacion vistas */

.contratacion-item2 {
    margin-top: 2rem;
    border-bottom: solid 1px #c5c5c5;
    padding-bottom: 1rem;
}

.contratacion-item2 span {
    color: #9d9d9d;
    font-size: 0.9rem;
    padding-left: 15px;
}

.contratacion-item2 .link-bold a {
    color: #3366cc;
    font-weight: 600;
}

.contratacion-item2 .link-bold span {
    color: #3366cc;
    font-weight: 600;
    padding-left: 0;
}

.contratacion-item2 .link-bold {
    margin-bottom: 0.7rem;
}

.contratacion-item2 p {
    font-size: 0.9rem;
    color: grey;
    line-height: 0.5rem;
}

.contratacion-item2 .enlace--secop {
    color: #3366cc;
    text-decoration: underline;
    background-color: transparent;
}

#edit-submit-contratacion--2 {
    min-width: 95px !important;
    padding: 5px;
}

.region-sidebar-first .views-exposed-form {
    background: #f6f8f9;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 10px;
}

.region-sidebar-first .views-exposed-form select {
    min-width: 228px;
}

.region-sidebar-first .views-exposed-form .form-item-estado label {
    width: 200px;
    color: #6a6a6a;
    font-weight: 500;
    margin-top: 1rem;
}

.region-sidebar-first .views-exposed-form .form-item-modalidad label {
    width: 200px;
    color: #6a6a6a;
    font-weight: 500;
}

.region-sidebar-first .views-exposed-form .form-item-estado::before {
    font-weight: bold;
    content: "Filtrar por ";
    color: #004884;
}

.form-item-modalidad {
    width: 97%;
}

.view-grouping-content {
    display: block!important;
}

.view-sala-de-prensa .views-field-field-multimedia .img-fluid.image-style-large {
    border-radius: 10px 10px 0px 0px;
}

.view-sala-de-prensa .views-field-title {
    margin: 1rem
}

.view-sala-de-prensa .views-field-title span.field-content a {
    color: #4B4B4B;
}