<div class="row">
    <div class="col-md-12">
        <span class="fuente-bold color-morado">
            {{ node.label }}
        </span>
        <div class="py-2 my-1">
            {{ content.field_descripcion }}
        </div>
    </div>
    <div class="row mt-4 mx-3 border shadow-sm p-3 mb-5 bg-white rounded">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="py-2 my-1">
                {{content.field_fecha_generacion}}
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">

            <div class="py-2 my-1">
                {{content.field_fecha_publicacion}}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                {{content.field_clasificacion3}}
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                {{content.field_text2}}
            </div>

        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="py-2 my-1">
                    {{content.field_enlace}}
                </div>
            </div>
        </div>
        <div class="row justify-content-center my-3">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="py-2 my-1">
                    {{content.field_varios_enlaces}}
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="py-2 my-1">
                    {{content.field_archivo}}
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="py-2 my-1">
                    {{content.field_enlaces_relacionados}}
                </div>
            </div>
        </div>

    </div>
</div>