<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h3>
            {{ node.label }}
        </h3>
        <div class="py-2 my-1">
            {{ content.body }}
        </div>
    </div>
    <div class="row mt-4 mx-3 border shadow-sm p-3 mb-5 bg-white rounded">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <span class="fuente-bold color-morado">Fecha de Generacion</span>
            <div class="py-2 my-1">
                {{content.field_fecha_generacion}}
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <span class="fuente-bold color-morado">Fecha de Publicación</span>
            <div class="py-2 my-1">
                {{content.field_fecha_publicacion}}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <span class="fuente-bold color-morado">Documentos</span>
                <div class="py-2 my-1">
                    {{content.field_archivo}}
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <span class="fuente-bold color-morado">Enlaces Relacionados</span>
                <div class="py-2 my-1">
                    {{content.field_enlaces_relacionados}}
                </div>
            </div>
        </div>

    </div>
</div>