 <div class="row mt-4 mx-3 border shadow-sm p-3 mb-5 rounded">
    <div class="col-12 col-sm-7 col-md-7 col-xl-7 col-lg-7">
        <span class="titulo-servicios">
            <a href="{{url}}">{{ node.label }}</a>
        </span>
        <p>
            {{content.body}}
        </p>
        <span class="etiqueta-clasificacion-servicios">
            {{content.field_clasificacion}}
        </span>
    </div>
    <div class="col-12 col-sm-5 col-md-5 col-xl-5 col-lg-5">
        <div class="d-flex m-2 my-3">
            <img class="icono-clasificacion-servicios mx-2"
                src="/sites/default/files/2021-12/Clasificacion.svg"
                alt="En linea">
            <span class="texto-clasificacion-servicio">
                <p class="m-0 p-0">{{content.field_clasificacion}}</p>
            </span>
        </div>
        <div class="d-flex m-2 my-3">
            <img class="icono-clasificacion-servicios mx-2"
                src="/sites/default/files/2021-12/Clasificacion-pago.svg"
                alt="En linea">
            <span class="texto-clasificacion-servicio">
                <p class="m-0 p-0">{{content.field_clasificacion2}}</p>
            </span>
        </div>
        <div class="d-flex m-2 my-3">
            <img class="icono-clasificacion-servicios mx-2"
                src="/sites/default/files/2021-12/Duracion-servicio.svg" alt="En
                linea">
            <p class="m-0 p-0"><strong>Duracion:</strong>&nbsp;&nbsp;{{content.field_text1}}</p>
        </div>
    </div>
</div>