<div class="container my-1 py-3">
    <h2 class="titulo-seccion-principal">Transparencia y acceso a la Información Pública</h2>

    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked
        up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature</p>

    <div class="row mt-5 card-transparencia">
        <div class="col-md-3">
            <div class="card card-menu"><a class="card-block stretched-link
                                text-decoration-none" href="transparencia-y-acceso-a-la-informacion-publica/informacion-de-la-entidad"><svg class="bi bi-file-earmark-text-fill" fill="currentColor" height="16" viewbox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg"><path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2
                                        2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1
                                        0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0
                                        1-1-1zM4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0
                                        1h-7zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0
                                        1h-7a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 1
                                        0-1h4a.5.5 0 0 1 0 1h-4z"></path> </svg>1. Información de la entidad</a></div>
        </div>

        <div class="col-md-3">
            <div class="card card-menu"><a class="card-block stretched-link
                                text-decoration-none" href="transparencia-y-acceso-a-la-informacion-publica/normativa"><svg class="bi bi-card-list" fill="currentColor" height="16" viewbox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg"> <path d="M14.5
                                        3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0
                                        1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0
                                        0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0
                                        0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"></path> <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0
                                        1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1
                                        .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0
                                        5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0
                                        1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4
                                        8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1
                                        1-1 0 .5.5 0 0 1 1 0z"></path> </svg>2. Normativa</a></div>
        </div>

        <div class="col-md-3">
            <div class="card card-menu"><a class="card-block stretched-link
                                text-decoration-none" href="transparencia-y-acceso-a-la-informacion-publica/contratacion"><svg class="bi bi-file-earmark-check-fill" fill="currentColor" height="16" viewbox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg"><path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2
                                        2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1
                                        0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0
                                        1-1-1zm1.354 4.354-3 3a.5.5 0 0 1-.708
                                        0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5
                                        9.793l2.646-2.647a.5.5 0 0 1 .708.708z"></path> </svg>3. Contratación</a></div>
        </div>

        <div class="col-md-3">
            <div class="card card-menu"><a class="card-block stretched-link
                                text-decoration-none" href="transparencia-y-acceso-a-la-informacion-publica/planeacion"><svg class="bi bi-graph-up-arrow" fill="currentColor" height="16" viewbox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg"> <path d="M0
                                        0h1v15h15v1H0V0Zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5
                                        0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613
                                        4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656
                                        5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1
                                        .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0
                                        1-.5-.5Z" fill-rule="evenodd"></path></svg>4. Planeación, presupuesto e informes</a></div>
        </div>
    </div>

    <div class="row mt-3 card-transparencia">
        <div class="col-md-3">
            <div class="card card-menu"><a class="card-block stretched-link
                                text-decoration-none" href="transparencia-y-acceso-a-la-informacion-publica/tramites"><svg class="bi bi-laptop" fill="currentColor" height="16" viewbox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg"> <path d="M13.5
                                        3a.5.5 0 0 1 .5.5V11H2V3.5a.5.5 0 0 1
                                        .5-.5h11zm-11-1A1.5 1.5 0 0 0 1
                                        3.5V12h14V3.5A1.5 1.5 0 0 0 13.5 2h-11zM0
                                        12.5h16a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1
                                        0 12.5z"></path> </svg>5. Trámites</a></div>
        </div>

        <div class="col-md-3">
            <div class="card card-menu"><a class="card-block stretched-link
                                text-decoration-none" href="transparencia-y-acceso-a-la-informacion-publica/participa"><svg class="bi bi-people-fill" fill="currentColor" height="16" viewbox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg"> <path d="M7
                                        14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0
                                        1 0 0-6 3 3 0 0 0 0 6z"></path> <path d="M5.216
                                        14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75
                                        1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1
                                        1 1 1h4.216z" fill-rule="evenodd"></path> <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"></path> </svg>6. Participa</a></div>
        </div>

        <div class="col-md-3">
            <div class="card card-menu"><a class="card-block stretched-link
                                text-decoration-none" href="transparencia-y-acceso-a-la-informacion-publica/datos-abiertos"><svg class="bi bi-card-checklist" fill="currentColor" height="16" viewbox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg"> <path d="M14.5
                                        3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0
                                        1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0
                                        0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0
                                        0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"></path> <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0
                                        1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0
                                        .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1
                                        1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708
                                        0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0
                                        1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0
                                        .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0
                                        1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708
                                        0z"></path> </svg>7. Datos abiertos</a></div>
        </div>

        <div class="col-md-3">
            <div class="card card-menu"><a class="card-block stretched-link
                                text-decoration-none" href="transparencia-y-acceso-a-la-informacion-publica/informacion-especifica-para-grupos-de-interes"><svg class="bi bi-book-half" fill="currentColor" height="16" viewbox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg"> <path d="M8.5
                                        2.687c.654-.689 1.782-.886 3.112-.752 1.234.124
                                        2.503.523
                                        3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8
                                        1.783C7.015.936 5.587.81
                                        4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0
                                        0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4
                                        2.303-.881 3.68-1.02 1.409-.142 2.59.087
                                        3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019
                                        3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0
                                        0 16 13.5v-11a.5.5 0 0
                                        0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809
                                        8.985.936 8 1.783z"></path> </svg>8. Información específica para grupos de interés</a></div>
        </div>
    </div>

    <div class="row mt-3 card-transparencia">
        <div class="col-md-3">
            <div class="card card-menu"><a class="card-block stretched-link
                                text-decoration-none" href="transparencia-y-acceso-a-la-informacion-publica/obligacion-de-reporte"><svg class="bi bi-journals" fill="currentColor" height="16" viewbox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg"><path d="M5 0h8a2
                                        2 0 0 1 2 2v10a2 2 0 0 1-2 2 2 2 0 0 1-2 2H3a2 2
                                        0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4a1 1
                                        0 0 0-1-1H3a1 1 0 0 0-1 1H1a2 2 0 0 1 2-2h8a2 2
                                        0 0 1 2 2v9a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H5a1 1
                                        0 0 0-1 1H3a2 2 0 0 1 2-2z"></path><path d="M1
                                        6v-.5a.5.5 0 0 1 1 0V6h.5a.5.5 0 0 1 0 1h-2a.5.5
                                        0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V9h.5a.5.5 0
                                        0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 2.5v.5H.5a.5.5 0
                                        0 0 0 1h2a.5.5 0 0 0 0-1H2v-.5a.5.5 0 0 0-1 0z"></path> </svg>9. Obligación de reporte</a></div>
        </div>

        <div class="col-md-3">
            <div class="card card-menu"><a class="card-block stretched-link
                                text-decoration-none" href="transparencia-y-acceso-a-la-informacion-publica/informacion-tributaria"><svg class="bi bi-newspaper" fill="currentColor" height="16" viewbox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg"> <path d="M0
                                        2.5A1.5 1.5 0 0 1 1.5 1h11A1.5 1.5 0 0 1 14
                                        2.5v10.528c0 .3-.05.654-.238.972h.738a.5.5 0 0 0
                                        .5-.5v-9a.5.5 0 0 1 1 0v9a1.5 1.5 0 0 1-1.5
                                        1.5H1.497A1.497 1.497 0 0 1 0 13.5v-11zM12
                                        14c.37 0
                                        .654-.211.853-.441.092-.106.147-.279.147-.531V2.5a.5.5
                                        0 0 0-.5-.5h-11a.5.5 0 0 0-.5.5v11c0
                                        .278.223.5.497.5H12z"></path> <path d="M2
                                        3h10v2H2V3zm0 3h4v3H2V6zm0 4h4v1H2v-1zm0
                                        2h4v1H2v-1zm5-6h2v1H7V6zm3 0h2v1h-2V6zM7
                                        8h2v1H7V8zm3 0h2v1h-2V8zm-3 2h2v1H7v-1zm3
                                        0h2v1h-2v-1zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1z"></path></svg>10. Información tributaria</a></div>
        </div>
    </div>
</div>