<div class="row">
    <div class="col-md-12">
        {% if field_fecha_generacion %}
            <div class="node--ssf--descripcion">
                {{ field_fecha_generacion}}
            </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        {% if body.value %}
            <div class="node--ssf--descripcion">
                {{ body }}
            </div>
        {% endif %}
    </div>
    <div class="mt-4 mx-3 border shadow-sm p-3 mb-5 bg-white rounded">
        <div>
            {% if node.field_fecha_generacion.value %}
                <div class="ssf--fecha1">
                    {{ content.field_fecha_generacion }}
                </div>
            {% endif %}
            {% if node.field_fecha_publicacion.value %}
                <div class="ssf--fecha2">
                    {{ content.field_fecha_publicacion }}
                </div>
            {% endif %}
            {% if node.field_clasificacion3.value %}
                <div class="ssf--clasificacion3">
                    {{ content.field_clasificacion3 }}
                </div>
            {% endif %}

            {% if node.field_text2.value %}
                <div class="ssf--text2">
                    {{ content.field_text2 }}
                </div>
            {% endif %}
            {% if node.    field_enlace.value %}
                <div class="ssf--enlace">
                    {{ content.field_enlace }}
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-md-12">
                {% if node.field_varios_enlaces.value %}
                    <div class="ssf--variosenlaces">
                        {{ content.field_varios_enlaces }}
                    </div>
                {% endif %}
            </div>
            <div class="col-md-12">
                {% if node.field_archivo.value %}
                    <div class="ssf--adjuntos">
                        {{ content.field_archivo }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% if node.field_enlaces_relacionados.value %}
                    <div class="ssf--enlacesrelacionados">
                        {{ content.field_enlaces_relacionados }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
	
	


	


		
