<div class="noticia row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <h2 class="titulo-cpae">
            {{ node.label }}
        </h2>
        <div class="summary">
            {{ content.body['#items'][0].summary }}
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="media">
            {{ content.field_image }}
        </div>
        <div class="contenido">
            {{ content.body }}
            <div class="published">Publicado: {{ date }}</div>
        </div>
        <div class="tags">
            {{content.field_tags}}
        </div>
    </div>
</div>