<div class="row justify-content-center">
    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <h3 class="my-2 py-1">{{node.label}}</h3>
        <p>{{content.body}}</p>
        <div class="row justify-content-center ">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 fondo-gris">
                <p class="color-morado">Fecha, hora y lugar del evento</p>
                <p>{{content.field_fecha_publicacion}} </p>
                <p>{{content.field_text1}}</p>
                <p class="color-morado">Material de apoyo</p>
                <p>{{content.field_documebnto}}</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <figure class="w-100">
            {{content.field_image}}
        </figure>
    </div>
</div>