<div class="articulo row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <h2 class="titulo-cpae">
            {{ node.label }}
        </h2>
        <div class="summary">
            {{ content.field_descripcion_articulo['#items'][0].summary }}
        </div>
        <div class="media">
            {{ content.field_multimedia }}
        </div>
        <div class="contenido">
            {{ content.field_descripcion_articulo }}
        </div>
        <div class="tags">
            {{content.field_tags}}
        </div>
    </div>
</div>